.article-item {
  	margin-top: 10px;
}

.preview-image {
  	margin-top: 10px;
}

.ekko-lightbox-nav-overlay a {
  	color: goldenrod;
}

.gallery-title {
	text-align: center;
	font-weight: 500;
	border-bottom: 1px dotted orange;
	margin-top: 1em;
}

.checkbox-select-all-options {
	width: 160px;
	margin: 0 16px;
}

.check-all-submit-btn {
	margin-right: 16px;
}