<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1 class="page-title">Book: {{article.name}}</h1>
            <p>Description: {{article.description}}</p>

            <form id="uploadGalleryForm" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="images">Upload your gallery (maximum: 10 images)</label>
                    <input type="file" name="images" class="form-control-file" id="images" multiple>
                </div>
                <label for="galleryName"></label>
                <input id="galleryName" name="galleryName" type="text" value="{{article.slug}}" style="display:none;">

                <div>
                    <button type="submit" class="btn btn-primary" id="uploadBtn" disabled>Upload gallery</button>
                </div>
            </form>

            <div class="mt-4">
                <button type="button" class="btn btn-info" id="saveGallery" style="display:none;">Click to save change</button>
            </div>

            <div class="mt-4">
                <button type="button" class="btn btn-primary" id="updateGallery" style="display:none;">Update gallery</button>
            </div>

            <div class="mt-4">
                <button type="button" class="btn btn-primary" id="uploadNew" style="display:none;">Upload new gallery</button>
                <button type="button" class="btn btn-secondary" id="updateCurrent" style="display:none;">Update current gallery</button>
            </div>

            <h3 class="gallery-title">Gallery</h3>
            <div class="row" id="gallery">
                {{#each article.gallery}}
                    <a class="col-lg-3 col-md-4 col-6 my-3">
                        <img src="{{this}}" class="img-fluid card">
                    </a>
                {{/each}}
            </div>

            <form class="mt-4" id="containerForm" style="display:none;">
                <div class="mt-4 d-flex align-items-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkboxAll">
                        <label class="form-check-label" for="checkboxAll">
                            Select all
                        </label>
                    </div>

                    <select class="form-control form-control-sm checkbox-select-all-options" name="action" id="selectAction" required>
                        <option value="">-- Select action --</option>
                        <option value="delete">Delete</option>
                    </select>

                    <button class="btn btn-primary btn-sm check-all-submit-btn" disabled>Submit</button>
                    <button class="btn btn-secondary btn-sm cancel">Cancel</button>
                </div>

                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Image Name</th>
                            <th scope="col">Image</th>
                        </tr>
                    </thead>
                    <tbody id="preview"></tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script src="/script/page/detail.js"></script>