<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1 class="page-title">Book: {{article.name}}</h1>
            <p>Description: {{article.description}}</p>

            <form id="uploadGalleryForm" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="images">Upload your gallery (maximum: 10 images)</label>
                    <input type="file" name="images" class="form-control-file" id="images" multiple>
                </div>
                <label for="galleryName"></label>
                <input id="galleryName" name="galleryName" type="text" value="{{article.slug}}" style="display:none;">

                <div>
                    <button type="submit" class="btn btn-primary">Upload gallery</button>
                    <button type="button" class="btn btn-secondary" id="cancelUpload">Cancel upload</button>
                </div>
            </form>

            <div class="mt-4">
                <button type="button" class="btn btn-info" id="saveGallery">Save gallery</button>
            </div>

            <div class="mt-4" id="galleryHandler">
                <button type="button" class="btn btn-primary" id="updateGallery">Update gallery</button>
                <button type="button" class="btn btn-warning" id="deleteGallery">Delete gallery</button>
            </div>

            <h3 class="gallery-title">Gallery</h3>
            <div class="row" id="gallery">
                {{#each article.gallery}}
                    <a class="col-lg-3 col-md-4 col-6 my-3">
                        <img src="{{this}}" class="img-fluid card">
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script src="/script/page/detail.js"></script>