<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1 class="page-title">Book: {{article.name}}</h1>
            <p>Description: {{article.description}}</p>

            <form id="uploadGalleryForm" enctype="multipart/form-data" style="display:block;">
                <div class="form-group">
                    <label for="image">Upload gallery</label>
                    <input type="file" name="image" class="form-control-file" id="image">
                </div>
                <button type="submit" class="btn btn-primary">Add gallery</button>
                <button type="button" class="btn btn-secondary" id="cancelUpload">Cancel</button>
            </form>

            <div class="mt-4">
                <button type="button" class="btn btn-primary" id="updateGallery">Update gallery</button>
                <button type="button" class="btn btn-warning" id="deleteGallery">Delete gallery</button>
            </div>

            <h3 class="gallery-title">Gallery</h3>
            <div class="row" id="gallery">
                <a class="col-lg-3 col-md-4 col-6 my-3">
                    <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid card">
                </a>
            </div>
        </div>
    </div>
</div>

<script src="/script/detail.js"></script>