<div class="mt-4">
    <h1>Login</h1>

    {{#if errs}}
        {{#each errs}}
        <div class="alert alert-danger mt-4" role="alert">
            {{this}}
        </div>
        {{/each}}
    {{/if}}

    <form class="mt-4" action="/auth/login" method="POST">
        <div class="form-group">
            <label for="userEmail">Email address</label>
            <input type="text" class="form-control" name="email" placeholder="Enter email" value={{#if values.email}} {{values.email}} {{else}} "" {{/if}}>
        </div>
        <div class="form-group">
            <label for="userPassword">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <span>Need a new account? <a href="/auth/register" class="text-info">Register</a></span>
    </form>
</div>